PATTERN IBBPBBPBB
OUTPUT %%YYYYMMDD%%.mpg
BASE_FILE_FORMAT PNM
INPUT_CONVERT djpeg *
GOP_SIZE 16
SLICES_PER_FRAME 1
INPUT_DIR .
INPUT
%%JPEG_FILES%%
END_INPUT
PIXEL FULL
RANGE 0
PSEARCH_ALG SUBSAMPLE
BSEARCH_ALG CROSS2
IQSCALE 2
PQSCALE 4
BQSCALE 8
REFERENCE_FRAME ORIGINAL
BUFFER_SIZE 3276800
FRAME_RATE 24

